rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
      
      // Add CORS headers to all responses
      function addCorsHeaders() {
        response.headers['Access-Control-Allow-Origin'] = '*';
        response.headers['Access-Control-Allow-Methods'] = 'GET, HEAD, OPTIONS, POST';
        response.headers['Access-Control-Allow-Headers'] = 'Content-Type, Authorization';
        return true;
      }
    }
  }
} 