/* Hero styles */

.hero {
  padding: 8rem 4rem 0 4rem;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 32rem;
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: var(--font-light);
  line-height: 1.2;
}

.hero-text h1 span {
  font-weight: var(--font-bold);
  font-size: 5rem;
}

.hero-text p {
  margin-top: 1.5rem;
  line-height: 1.6;
  font-size: 1.2rem;
  text-align: justify;
}

.cta-button {
  width: 10rem;
  margin-top: 2rem;
  background-color: var(--yellow);
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: var(--font-bold);
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
}

.cta-button:hover {
  background-color: #d3c60e;
}

.hero-image {
  margin-right: 9rem;
}

.hero-image img {
  max-width: 100rem;
  width: 120%;
  height: auto;
}

/* Swiper Styles */
.swiper-button-prev,
.swiper-button-next {
  color: var(--yellow);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1490px) {
  /* Hero styles */
  .hero-text {
    text-align: center;
    max-width: 100%;
  }

  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../assets/gym.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    padding-bottom: 4rem;
  }

  .hero-image {
    display: none;
  }

  .hero-text p {
    text-align: center;
  }
}

@media screen and (max-width: 440px) {
  .programs-section {
    padding: 4rem 0.5rem;
  }

  .programs-section h2 {
    text-align: center;
  }

  .hero {
    padding: 10rem 0.5rem 4rem 0.5rem;
  }
}
