.calculator-section {
  background-color: var(--black);
  color: var(--white);
  padding: 4rem 4rem;
  font-size: 1.2rem;
  font-weight: var(--font-semi-bold);
}

.age-section input {
  margin-left: 3.5rem;
}

.gender-options{
  margin-left: 2rem;
}

.height-section input {
  margin-left: 2.3rem;
}

.weight-section input {
  margin-left: 2.65rem;
}

.activity-section select {
  margin-top: 1rem;
}

.activity-section,
.age-section,
.weight-section,
.height-section {
  margin-top: 1rem;
}

.activity-label {
  display: flex;
  flex-direction: column;
}

.gender-section {
  margin-top: 1.3rem;
}

input[type="number"] {
  padding-left: 5px;
  width: 10rem;
  height: 2rem;
  border: 1px solid var(--yellow);
  border-radius: 4px;
  background-color: black;
  color: var(--white);
  font-size: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-annotation {
  margin-left: 1rem;
  font-weight: var(--font-regular);
}

.gender-span {
  font-weight: var(--font-regular);
}

.activity-section select {
  height: 2rem;
  width: 32rem;
  padding-left: 5px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--yellow);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: var(--font-regular);
}

.settings-link {
  color: var(--yellow);
  font-size: 1rem;
  background-color: var(--black);
  display: inline-block;
  margin-top: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.buttons {
  margin-top: 15px;
}

.calculate {
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  height: 3rem;
  width: 9rem;
  background-color: transparent;
  color: white;
  border: 1px solid var(--yellow);
  border-radius: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.calculate:hover {
  background-color: var(--yellow);
  color: var(--black);
  transition: 0.3s;
}

.clear {
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  height: 3rem;
  width: 8rem;
  background-color: transparent;
  color: white;
  border: 1px solid grey;
  border-radius: 0.5rem;
  cursor: pointer;
}

.clear:hover {
  background-color: grey;
  color: var(--black);
  transition: 0.3s;
}

.settings-panel {
  margin-top: 0.5rem;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.unit-title {
  font-weight: var(--font-regular);
  margin-bottom: 0.5rem;
}

.unit-label {
  display: flex;
  align-items: center;
}

.unit-span {
  font-weight: var(--font-regular);
  margin-left: 0.25rem;
}

.label-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.calculator-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.results-container {
  background-color: var(--black);
  border-radius: 8px;
  max-width: 40rem;
  color: var(--white);
}

.results-header {
  background-color: var(--yellow);
  color: var(--black);
  font-weight: var(--font-bold);
  padding: 0.5rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.results-description {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: var(--font-regular);
}

.result-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: 1px solid var(--yellow);
  border-left: 5px solid var(--yellow);
  padding: 0.75rem;
  border-radius: 4px;
}

.result-label {
  font-weight: var(--font-bold);
  font-size: 1rem;
}

.result-label.small {
  font-size: 1rem;
}

.subtext {
  font-weight: var(--font-regular);
  font-size: 0.8rem;
}

.result-value {
  font-weight: var(--font-bold);
  font-size: 1.2rem;
  text-align: right;
}

.result-unit {
  font-weight: var(--font-regular);
  font-size: 0.8rem;
  display: block;
}

.calculator-title {
  color: var(--yellow);
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.form-label {
  font-weight: var(--font-semi-bold);
}

.form-input-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.gender-options {
  display: flex;
  gap: 2rem;
}

.gender-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1.5rem;
  position: relative;
}

.gender-label input[type="radio"] {
  display: none;
}

.unit-label input[type="radio"] {
  display: none;
}

.custom-radio {
  width: 16px;
  height: 16px;
  border: 2px solid var(--yellow);
  border-radius: 50%;
  background-color: #000;
  margin-right: 8px;
  transition: background-color 0.2s, border-color 0.2s;
}

.gender-label input[type="radio"]:checked + .custom-radio {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.unit-label input[type="radio"]:checked + .custom-radio {
  background-color: var(--yellow);
  border-color: var(--yellow);
}


@media screen and (max-width: 980px) {
  .calculator-wrapper {
    flex-direction: column;
  }

  .activity-section select {
    width: 100%;
    max-width: 32rem;
  }
}

@media screen and (max-width: 527px) {
  .form-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-input-wrapper {
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .gender-options {
    margin-top: 1rem;
    gap: 1rem;
  }

  .age-section input,
  .gender-options,
  .height-section input,
  .weight-section input {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 440px) {
  .calculator-section {
    padding: 4rem 0.5rem;
  }

  .label-container{
    flex-direction: column;
    gap: 1rem;
  }
}
