.recipe-section {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: #000;
  color: #fff;
  padding: 4rem 4rem;
}

.recipe-main {
  flex: 2;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.recipe-img {
  width: 100%;
  max-width: 30rem;
  aspect-ratio: 3 / 4; /* Це те саме, що 30rem:40rem */
  border-radius: 1rem;
  object-fit: cover;
}

.recipe-text {
  max-width: 31rem;
}

.recipe-text h3 {
  font-size: 2rem;
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

.recipe-text p {
  font-size: 1rem;
  font-weight: var(--font-regular);
  margin-bottom: 1rem;
  text-align: justify;
}

.view-full-btn {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  color: var(--white);
  background: transparent;
  border: 1px solid var(--yellow);
  border-radius: 1rem;
  cursor: pointer;
  font-weight: var(--font-semi-bold);
  align-items: center;
}

.view-full-btn:hover {
  background-color: var(--yellow);
  color: var(--black);
  transition: 0.3s ease;
}

.view-full-btn i {
  font-size: 1.4rem;
}

.recipe-categories {
  flex: 1;
}

.recipe-categories ul {
  list-style: none;
  padding: 0;
}

.recipe-categories li {
  margin-bottom: 1rem;
}

.small-recipe-img {
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
  object-fit: cover;
}

.recipe-container {
  background: var(--black);
  padding: 1rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.recipe-section-title {
  color: var(--yellow);
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  min-width: 9rem;
}

.view-more-btn {
  height: 3rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--yellow);
  border-radius: 1rem;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: var(--font-semi-bold);
  width: 100%;
  max-width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-more-btn:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.small-recipe {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-radius: 14px;
}

.small-recipe:hover {
  box-shadow: rgba(251, 255, 0, 0.35) 0px 5px 15px;
  transform: scale(1.03);
}

.small-recipe-title {
  font-size: 1rem;
  font-weight: var(--font-medium);
}

/* Swiper Styles */
.swiper-button-prev,
.swiper-button-next {
  color: var(--yellow);
}

.swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

@media screen and (max-width: 1490px) {
  .recipe-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .recipe-img {
    width: 100%;
    max-width: 25rem;
  }

  .recipe-text {
    max-width: 60rem;
  }

  .recipe-categories {
    margin-top: 4rem;
    width: 100%;
  }

  .recipe-categories ul {
    display: flex;
    justify-content: space-between;
  }

  .recipe-categories li {
    max-width: 12rem;
  }

  .small-recipe-img {
    width: 12rem;
    height: 12rem;
  }

  .small-recipe {
    flex-direction: column;
  }

  .small-recipe:hover {
    box-shadow: none;
  }

  .small-recipe:hover .small-recipe-img {
    box-shadow: rgba(251, 255, 0, 0.35) 0px 5px 15px;
  }

  .small-recipe-title {
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .small-recipe-title {
    max-width: 10rem;
    text-align: center;
  }

  .small-recipe:hover {
    transform: none;
  }
}

@media screen and (max-width: 852px) {
  .recipe-main {
    flex-direction: column;
  }

  .recipe-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .recipe-text p {
    text-align: center;
  }
}

@media screen and (max-width: 440px) {
  .recipe-section {
    padding: 4rem 0.5rem;
  }

  .recipe-container {
    padding: 0rem 0.5rem;
  }

  .view-more-btn {
    height: 4rem;
  }
}
